/* Color de fondo del desplegable */
.ss-content.ss-open,
.ss-option.ss-disabled {
    background-color: #f4f4f4 !important;
}

/* Color de la opcion desabilitada (en el desplegable) */
.ss-option.ss-disabled {
    color: #aab8c6 !important;
}

/* Color de fondo del select (sin desplegar) */
.slimSelectGray {
    .ss-main .ss-single-selected {
        background-color: #f2f2f2;
    }
}

.slimSelectLikeInput {
    .ss-main .ss-single-selected {
        background-color: #ffffff;
        height: calc(2.19rem + 2px);
    }
}

.ss-main {
    .badge {
        font-weight: 400;
    }
}

.ss-main .ss-multi-selected .ss-values .ss-value {
    /*color: #000000; */
    /*background-color: #bef7fb; */
    /*color: #000000; */
    /*background-color: #cafcff; */
    background-color: #58cbf2;
}

/* Color de fondo de las opciones seleccionadas */
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-option-selected {
    /*background-color: #5e9cff29; */
    /*background-color: #59cbf2; */
    background-color: #00a5d1;
    color: white;
}

.ss-option {
    margin: 2px;
}

div:where(.swal2-container) button:where(.swal2-close) {
    color: #858585 !important;
}


.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    color: var(--ss-selected-font-color);
    background-color: var(--ss-primary-color);
}
.ss-content .ss-list .ss-option:hover {
    color: var(--ss-selected-font-color);
    background-color: var(--ss-primary-color);
}

:root {
    --ss-primary-color: #0089d9;
    --ss-bg-color: #f9f9f9;
    --ss-font-color: #4d4d4d;
    --ss-font-placeholder-color: #8d8d8d;
    --ss-disabled-color: #dcdee2;
    --ss-border-color: #dcdee2;
    --ss-highlight-color: #fffb8c;
    --ss-success-color: #00b755;
    --ss-error-color: #dc3545;
    --ss-focus-color: #5897fb;
    --ss-main-height: 30px;
    --ss-content-height: 300px;
    --ss-spacing-l: 5px;
    --ss-spacing-m: 2px;
    --ss-spacing-s: 2px;
    --ss-animation-timing: 0.2s;
    --ss-border-radius: 3px;
    --ss-selected-font-color: var(--ss-bg-color);
}

.dark {

    --ss-primary-color: #111827;
    --ss-bg-color: #1f2732;
    --ss-font-color: #ffffff;
    --ss-font-placeholder-color: #a3a3a3;
    --ss-selected-font-color: var(--ss-font-color);
}
